{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />

    <!-- Icon -->
    <script src="https://unpkg.com/lucide@latest"></script>

    <title>Signup</title>
  </head>
  <body>
    <div class="container">
      {% if messages %}
      <div class="messages" role="status" aria-live="polite">
        {% for message in messages %}
        <p class="message poppins-regular {{ message.tags|default:'info' }}">
          {{ message|safe }}
        </p>
        {% endfor %}
      </div>
      {% endif %}
      <div class="formBox otp">
        <a href="{% url 'signup-page' %}" class="return-link">
          <i data-lucide="chevron-left"></i>
          <span class="poppins-regular">Sign up</span>
        </a>
        <div class="logo">
          <i data-lucide="lock"></i>
          <div class="logoText" style="text-align: center">
            <h3 class="poppins-medium">Complete your sign-up</h3>
            <h2 class="poppins-semibold">Enter Code</h2>
          </div>
        </div>
        <p class="poppins-medium">
          We’ve sent a code to your email. Please enter it below.
        </p>
        <form
          id="otpForm"
          method="post"
          action="{% url 'verify-otp' user_id=user_id %}"
        >
          {% csrf_token %}
          <div class="inputFields">
            <div class="inputBox">
              <label for="otp" class="poppins-regular">OTP Code</label>
              <input
                type="text"
                id="code"
                name="code"
                maxlength="6"
                class="poppins-regular"
                required
              />
            </div>
          </div>
          <div class="submitButton">
            <button type="submit" class="poppins-regular">Verify</button>
            <p class="poppins-regular">
              Didn't get the code?
              <a href="{% url 'resend-code' user_id=user_id %}">Resend it</a>
            </p>
          </div>
        </form>
      </div>
    </div>

    <script>
      lucide.createIcons();

      const messages = document.querySelector(".messages");
      if (messages) {
        setTimeout(() => {
          messages.classList.add("hide");
          setTimeout(() => {
            messages.remove();
          }, 500);
        }, 5000);
      }
    </script>

    {% if debug %}
    <script src="{% static 'django_browser_reload/reload.js' %}"></script>
    {% endif %}
  </body>
</html>
