{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/reports.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />

    <script src="https://unpkg.com/lucide@latest"></script>

    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      {% include 'sidebar.html' %}
      <div class="main">
        <div class="title">
          <h2 class="poppins-medium">Reports</h2>
        </div>
        <section class="report-table">
          <div class="head">
            <div class="left">
              <div class="search-bar">
                <i data-lucide="info"></i>
                <input
                  type="text"
                  placeholder="Search"
                  id="search"
                  class="poppins-regular"
                />
              </div>
            </div>
            <div class="right">
              <button class="button">
                <i data-lucide="list-filter"></i>
                <span class="poppins-regular">Filter</span>
              </button>
              <button class="button">
                <i data-lucide="chevrons-up-down"></i>
                <span class="poppins-regular">Sort</span>
              </button>
            </div>
          </div>
          <div class="tableContainer">
            <table id="cases-table">
              <thead>
                <tr>
                  <th class="poppins-medium">ID</th>
                  <th class="poppins-medium">Missing Person</th>
                  <th class="poppins-medium">Reporter</th>
                  <th class="poppins-medium">Date Reported</th>
                  <th class="poppins-medium">Status</th>
                  <th class="poppins-medium">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for i in "1234567"|make_list %}
                <tr>
                  <td class="poppins-regular">001</td>
                  <td class="poppins-regular">Ferryl Johnson</td>
                  <td class="poppins-regular ongoing">Ongoing</td>
                  <td class="poppins-regular">February 30, 2024</td>
                  <td class="poppins-regular pending">Pending</td>
                  <td>
                    <div class="actionIcon">
                      <i data-lucide="file-search"></i>
                      <i data-lucide="message-circle"></i>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                <tr>
                  <td class="poppins-regular">001</td>
                  <td class="poppins-regular">Ferryl Johnson</td>
                  <td class="poppins-regular ongoing">Ongoing</td>
                  <td class="poppins-regular">February 30, 2024</td>
                  <td class="poppins-regular denied">Denied</td>
                  <td>
                    <div class="actionIcon">
                      <i data-lucide="file-search"></i>
                      <i data-lucide="message-circle"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pagination">
              <div class="left">
                <span class="poppins-regular"
                  >Showing 1 to 10 of 20 entries</span
                >
              </div>
              <div class="right">
                <button id="prevBtn" class="poppins-regular">Prev</button>
                <button id="nextBtn" class="poppins-regular">Next</button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script>
      lucide.createIcons();
    </script>

    {% if debug %}
    <script src="{% static 'django_browser_reload/reload.js' %}"></script>
    {% endif %}
  </body>
</html>
