<div id="messageBox" class="message-box hidden">
  <div class="message-header">
    <span class="poppins-medium">Messages for Report ID - 4</span>
    <button id="closeMessageBox" class="close-btn">&times;</button>
  </div>

  <div class="message-body">
    <div class="message-list">
      <!-- Sample Conversation -->
      <div class="message received">
        <div class="avatar">A</div>
        <div class="bubble poppins-regular">
          Hi there! Any update on the case?
          <span class="timestamp">10:12 AM</span>
        </div>
      </div>

      <div class="message received">
        <div class="avatar">J</div>
        <div class="bubble poppins-regular">
          Great, please keep me posted!
          <span class="timestamp">10:15 AM</span>
        </div>
      </div>

      <div class="message sent">
        <div class="bubble poppins-regular">
          Hello! Yes, we’ve received a few new reports this morning.
          <span class="timestamp">10:14 AM</span>
        </div>
      </div>
    </div>
  </div>

  <div class="message-footer">
    <input
      type="text"
      id="messageInput"
      class="poppins-regular"
      placeholder="Write a message..."
      class="poppins-regular"
    />
    <button id="sendMessageBtn" class="poppins-regular">Send</button>
  </div>
</div>
